* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c2238;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex: 1;
  gap: 32px;
  max-width: 440px;
}
.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #262d47;
  border-radius: 16px;
  color: #ffffff;
}
.card .card-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex: 1;
  padding: 24px 24px 0 24px;
}
.card .col-left h4 {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}
.card .col-left h2 {
  font-weight: 400;
  margin: 8px 0 0 0;
}
.card .col-right {
  display: flex;
  align-items: center;
  color: #0df5a9;
}
.card .col-right .material-icons {
  font-size: 20px;
  margin-top: -4px;
}
.card .col-right .text {
  margin-left: 4px;
}
.card .card-body .chart-container {
  padding-top: 16px;
  height: 180px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
